[Unit]
Description=Piper Audio Volume Sync Service
After=pipewire.service sound.target

[Service]
ExecStart=/usr/bin/piper
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

# Important for ALSA access
PrivateDevices=no
PrivateTmp=no
ProtectHome=no
ProtectSystem=no
DeviceAllow=/dev/snd/* rwm

[Install]
WantedBy=default.target