[Unit]
Description=Piper Audio Volume Sync Service
After=sound.target pipewire.service

[Service]
ExecStart=/usr/bin/piper
Restart=on-failure
RestartSec=2
Group=audio
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
